/* Custom Color Start */
:root {
    --dark-green: #2E7D32;
    --green: #4CAF50;
    --light-green: #ebf0eb;
    --green-rgba:167, 196, 160;
    --dark-grey: #CACBCD;
    --cherry: #D83F4D;
    --dark-cherry:#B5303D;
    --light-cherry: #F4A1A8;
}
.bg-dark-green{
    background-color: var(--dark-green)!important;
}
.bg-green{
    background-color: var(--green)!important;
}
.bg-cherry{
    background-color: var(--cherry)!important;
}
.bg-light-cherry{
    background-color: var(--light-cherry)!important;
}
.text-dark-green{
    color: var(--dark-green)!important;
}
.text-green{
    color: var(--green)!important;
}
.text-cherry{
    color: var(--cherry)!important;
}
/* Custom Color End */

/* Custom font size */
.fs-xs{
    font-size: 12px;
}
/* Custom button Start */
.btn-full-green{
    background-color: var(--green)!important;

}
.btn-full-green:hover{
    background-color: var(--dark-green)!important;
}
.btn-full-light-green{
    background-color: var(--light-green)!important;
}
.btn-full-light-green:hover{
    background-color: var(--green)!important; ;
}
.btn-grey{
    background-color: var(--bs-secondary-bg-subtle);
    color: var(--bs-black);
}
.btn-grey:hover{
    background-color: var(--dark-grey);
}

.btn-full-cherry{
    background-color: var(--cherry)!important;
    color: white!important;
}
.btn-full-cherry:hover{
    background-color: var(--dark-cherry) ;
}
.btn-border-cherry{
    background-color: transparent!important;
    border: 1px solid var(--cherry);
    color: var(--cherry);
}
.btn-border-cherry:hover{
    background-color: var(--cherry)!important;
    color:white;
}
.btn-border-green{
    background-color: transparent!important;
    border: 2px solid var(--green);
    color: var(--green);
}
.btn-border-green:hover{
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
}
.btn-table-size{
    width:60px!important;
}

/* button new recipe */
.btn-new-recipe{
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    white-space: nowrap;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 10px rgba(40, 167, 69, 0.3);
    position: relative;

    &:hover{
        width: 220px;
    }
    .button-icon{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover .button-icon{
        left: 28px;
        transform: translate(0, -50%);
    }
    .button-text{
        position: absolute;
        left: 56px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-delay: 0.1s;
        white-space: nowrap;
        pointer-events: none;
    }
    &:hover .button-text{
        opacity: 1;
        left: 60px;
    }
}
/* Custom button End */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color:var(--dark-green);
    outline:0;
    box-shadow:0 0 0 .25rem  rgba(var(--green-rgba), 0.5)!important;
}
/* Custom button Start */

/* Custom icon Start */
.icon{
    display: grid;
    place-items:center;
    aspect-ratio:1/1;
}
.icon-1{
    height:3em;
}

.icon-2{
    height:2.2em;
}
.icon-3{
    height:2em;
}
.icon-1-size{
    font-size: 30px;
}
.icon-2-size{
    font-size: 25px;
}
.icon-3-size{
    font-size: 15px;
}

/* Custom icon end */
/* Admin sidebar */
.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
}
/* Admin main content */
.main-content {
    margin-left: 250px;
}
.offcanvas-fullscreen {
    width: 100vw !important;
    max-width: 100% !important;
}

/* Custom image filter*/
.bg-image{
    filter: grayscale(70%);
}

/* Recipe Card */
.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px 0;
}

.card {
    width: 14rem;
    flex-shrink: 0;
}

.scroll-container::-webkit-scrollbar {
    height: 8px;
}
.container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background:  #888;
    border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media (max-width: 768px) {
    .card-home {
        width: 14rem;
    }
    .card{
        width:11rem;
    }
}

@media (max-width: 576px) {
    .card-home {
        width: 12rem;
    }
}

/* Simple card recipe Start */
.card-container {
    transition: all 0.3s ease;
}

.card-container:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15)!important;

}
.image-container img {
    transition: transform 0.5s ease;
}

.card-container:hover .image-container img {
    transform: scale(1.05);
}
.title-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.category-tag {
    padding: 5px 12px;
    background-color: #f0f0f0;
    color: #666;
}
/* Simple card recipe End */

/* Custom checkbox recipe form */
.category-checkboxes label {
    display: inline-block;
    padding: 4px 8px;
    border: 2px solid #909193;
    border-radius: 5px;
    background-color: white;
    color: #909193;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.category-checkboxes input[type="checkbox"] {
    display: none;
}

.category-checkboxes input[type="checkbox"]:checked + label {
    background-color: #909193;
    color: white;
    border-color: #909193;
}

/* Form Steps */
.step {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.step-number {
    margin: 0;
    color: #666;
}
.remove-step {
    background-color: var(--cherry);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.remove-step:hover {
    background-color: var(--dark-cherry);
}
/* Recipe Ingredient form*/
.ingredient-header, .step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.ingredient, .step {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.ingredient > div:not(.ingredient-header),
.step > div:not(.step-header) {
    padding: 0 10px;
}

.remove-ingredient, .remove-step {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

#add-ingredient, #add-step {
    margin-top: 10px;
}
/* Actions table */
.actions-table-custom {
    width : 55px!important;
}
/* admin sidebar activ */
.nav-link.active {
    font-weight: bold;
    background-color: var(--bs-secondary-bg-subtle);
    border-radius: 10px;
    margin: 0px 2px ;
}
input[type="search"]:focus,
.admin-search-bar:focus{
    border-color:transparent!important;
    outline:0;
    box-shadow:0 0 0 0  transparent!important;
}

/* Delete border on dropdown */
.dropdown-toggle:focus,
.dropdown-toggle:active {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
/* dropdown menu element */
.category-link {
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    padding-left: 12px !important;
}

.category-link:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--green);
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.category-text {
    position: relative;
    transition: transform 0.3s ease;
}

.category-link:hover {
    background-color: var(--light-green);
    padding-left: 20px !important;
}

.category-link:hover:before {
    transform: scaleY(1);
}

.category-link:hover .category-text {
    transform: translateX(5px);
}

/* Animation on header nav element Start */
.nav-link-hover {
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
}

.nav-link-hover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--bs-dark);
    transition: all 0.3s ease;
    transform: translateX(-50%);
    opacity: 0;
}

.nav-link-hover:hover {
    transform: translateY(-3px);
}
.dropdown-toggle.nav-link-hover:hover {
    transform: none !important;
}
.dropdown-toggle.nav-link-hover::after {
    left: 45%;
    height: 2px!important;
    border: transparent!important;
}
.nav-link-hover:hover::after {
    width: 70%;
    opacity: 1;
}
.nav-link-hover.active::after {
    width: 70%;
    opacity: 1;
}
/* Animation on header nav element End */

/* Profile */
.active-profil{
    background-color: var(--bs-secondary-bg-subtle);
}
/* Registration form */
.form-card-body {
    padding: 2rem;
}

.form-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #495057;
}


.back-link {
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: all 0.2s ease;
    color: #495057;
    text-decoration: none;
    margin-bottom: 1rem;
}

.back-link:hover {
    background-color: var(--bs-secondary-bg-subtle);
}

.form-check {
    padding-left: 2rem;
}
