/* Custom Color Start */
:root {
    --dark-green: #8DAA91;
    --green: #A7C4A0;
    --green-rgba:167, 196, 160;
    --brown: #A67B5B;
    --brown-rgba: 166, 123, 91;
    --cherry: #D83F4D;
    --dark-cherry:#B5303D;
}
.bg-dark-green{
    background-color: var(--dark-green)!important;
}
.bg-green{
    background-color: var(--green)!important;
}
.bg-brown{
    background-color: var(--brown)!important;
}
.bg-cherry{
    background-color: var(--cherry)!important;
}
.bg-card{
    background-color: rgba(var(--brown-rgba), 0.1)!important;
}
.text-dark-green{
    color: var(--dark-green)!important;
}
.text-green{
    color: var(--green)!important;
}
.text-brown{
    color: var(--brown)!important;
}
.text-cherry{
    color: var(--cherry)!important;
}
/* Custom Color End */

/* Custom font size */
.fs-xs{
    font-size: 12px;
}
/* Custom button Start */
.btn-full-green{
    color: white!important;
    background-color: var(--green)!important;

}
.btn-full-green:hover{
    background-color: var(--dark-green)!important;
}

.btn-full-cherry{
    background-color: var(--cherry);
    color: white;
}
.btn-full-cherry:hover{
    background-color: var(--dark-cherry) ;
}
.btn-border-green{
    background-color: transparent!important;
    border: 2px solid var(--green);
    color: var(--green);
}
.btn-border-green:hover{
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color:var(--dark-green);
    outline:0;
    box-shadow:0 0 0 .25rem  rgba(var(--green-rgba), 0.5)!important;
}
input[type=checkbox]:checked{
    border-color:red!important;
    background-color: greenyellow!important;
    background-image: none!important;
}
/* Custom button Start */

/* Custom icon Start */
.icon{
    display: grid;
    place-items:center;
    aspect-ratio:1/1;
}
.icon-1{
    height:3em;
}

.icon-2{
    height:2.2em;
}
.icon-3{
    height:2em;
}
.icon-1-size{
    font-size: 30px;
}
.icon-2-size{
    font-size: 25px;
}
.icon-3-size{
    font-size: 15px;
}

/* Custom icon end */
.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
}

.main-content {
    margin-left: 250px;
}
.offcanvas-fullscreen {
    width: 100vw !important;
    max-width: 100% !important;
}

/* Custom image filter*/
.bg-image{
    filter: grayscale(70%);
}



/* Recipe Card */
.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px 0;
}

.card {
    width: 14rem;
    flex-shrink: 0;
}

.scroll-container::-webkit-scrollbar {
    height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media (max-width: 768px) {
    .card-home {
        width: 14rem;
    }
    .card{
        width:11rem;
    }
}

@media (max-width: 576px) {
    .card-home {
        width: 12rem;
    }
}

/* Custom checkbox recipe form */
.category-checkboxes label {
    display: inline-block;
    padding: 4px 8px;
    border: 2px solid #909193; /* Couleur de Bootstrap */
    border-radius: 20px;
    background-color: white;
    color: #909193;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.category-checkboxes input[type="checkbox"] {
    display: none; /* Cache les vraies checkboxes */
}

.category-checkboxes input[type="checkbox"]:checked + label {
    background-color: var(--dark-green);
    color: white;
    border-color: var(--dark-green);
}
